<section class="appointments">
    <h2>Idopontok</h2>
    <hr class="border border-2 opacity-50 border-success">

    <table class="table table-hover">
        <thead>
            <th>Id</th>
            <th>Datum</th>
            <th>Kezdet</th>
            <th>Veg</th>
        </thead>
        <tbody>
            <tr *ngFor="let apt of appointments">
                <td>{{apt.id}}</td>
                <td>{{apt.date}}</td>
                <td>{{apt.start}}</td>
                <td>{{apt.end}}</td>
            </tr>
        </tbody>
    </table>
</section>