<div class="container">
  <div class="row mb-5 text-end" *ngFor="let feature of features.features"
    [ngClass]="{'justify-content-end': feature.isReversed }">

    <div class="col-md-6" [ngClass]="{'order-2 ' : feature.isReversed }">
      <h2>{{feature.title}}</h2>
      <p class="text-center">{{feature.text}}</p>
      <div class="row" [ngClass]="{'justify-content-end' : feature.isReversed}">
        <a role="button" class="w-50 btn btn-lg btn-outline-primary mx-2" routerLink="{{feature.refPath}}">
          {{feature.button}}
        </a>
      </div>
    </div>

    <div class="col-md-4 justify-content-end " [ngClass]="{'' : feature.isReversed }">
      <img class="featurepix" src="{{feature.imagePath}}" alt="{{feature.alttext}}">
    </div>
  </div>
</div>