<div class="container text-center p-4">

    <hr class="border border-2 opacity-50 border-success">



    <h1>404 - Oldal nem található</h1>

    <p>Sajnos a keresett oldal nem található. Lehetséges, hogy törlésre került vagy véglegesen új címre költözött. <br> Kérlek ellenőrizd, helyes-e a megadott URL cím. </p>



    <button class="btn mb-3">
        <a href="/info" class="text-decoration-none text-reset">
            Vissza az infohoz
        </a>
    </button>

    <button class="btn mb-3">
        <a href="/" class="text-decoration-none text-reset">
            Vissza a főoldalra
        </a>
    </button>

    <hr class="border border-2 opacity-50 border-success">

</div>