<div class="container text-center p-4 bg-light">

    <button class="btn mb-3">
        <a href="/" class="text-decoration-none text-reset">
            Back to landing page
        </a>
    </button>

    <h1>404 - Page Not Found</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, consectetur fugit odio exercitationem fugiat rem ipsum ullam neque delectus necessitatibus. Aspernatur saepe aut ipsa, qui laborum quo unde reprehenderit hic cumque ex voluptates id possimus maxime illo dolores quis debitis labore odio aperiam consequatur corrupti exercitationem molestiae voluptatum necessitatibus. Quo!</p>
</div>