<div class="container text-center p-4">

    <button class="btn mb-3">
        <a href="/" class="text-decoration-none text-reset">
            Vissza a főoldalra
        </a>
    </button>

    <h1>404 - Oldal nem található</h1>

    <p>Sajnos az általad keresett oldal nem található. Lehetséges, hogy törlésre került vagy véglegesen új címre költözött.</p>

    <p>Kérlek ellenőrizd, helyes-e a megadott URL cím.</p>

    <button class="btn mb-3">
        <a href="/" class="text-decoration-none text-reset">
            Vissza a főoldalra
        </a>
    </button>
</div>