<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 180">
    <path fill="#273036" fill-opacity="1"
      d="M0,32L60,32C120,32,240,32,360,48C480,64,600,96,720,112C840,128,960,128,1080,122.7C1200,117,1320,107,1380,101.3L1440,96L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
    </path>
  </svg>
  <div class="container text-center col-md-6 justify-content-center">

    <h1>Időpontfoglalás</h1>
    <h3>Tudnivalók</h3>
    <p>Vendéget kizárólag előre egyeztetett időpontban áll módomban fogadni.<br>
      A bejelentkezés megkezdése előtt kérlek figyelmesen olvasd el az alábbi tájékoztatókat. A foglalás
      véglegesítésének feltétele ezek elfogadása.
    </p>

    <p>Felhívom figyelmed, hogyha korábban még nem jártál nálam, hogy az első kezelés előtt mindig, a további kezelések előtt pedig szükség esetén állapotfelmérést végzek. Ennek célja a probléma részletes feltárása egy rövid beszélgetés keretein belül, hogy a Te igényeidnek legmegfelelőbb kezelést nyújthassam.</p>

    <div class="py-1 focus ">
      <a href="/info/docs#terms" class="text-reset text-decoration-none" target="_blank">Általános Szerződési
        Feltételek</a>
        <hr class="border my-1 opacity-50 border-success">
      <a href="/info/docs#privacy" class="text-reset text-decoration-none" target="_blank">Adatkezelési Tájékoztató</a>
      </div>
    <p class="my-2">
      Időpontfoglalásodat és annak jóváhagyását követően e-mailben visszaigazolás érkezik. Ebben minden fontos,
      a kezelés megkezdéséhez szükséges információt megtalálsz majd. <strong>Emiatt kérlek, hogy figyelmesen, a helyes
        e-mail címed add meg!</strong>
    </p>
  </div>