<h3>Belépés</h3>
 
<form [formGroup]="loginForm" (submit)="login()">
    <div class="mb-3">
      <label for="user" class="form-label">E-mail</label>
      <input type="text" class="form-control" id="email"
      formControlName="email">
 
    </div>
    <div class="mb-3">
      <label for="pass" class="form-label">Jelszó</label>
      <input type="password" class="form-control" id="password"
      formControlName="pass">
    </div>
    <button type="submit" class="btn btn-primary">Belépés</button>
  </form>