<div class="navbar sticky-top big">
  <ul class="nav justify-content-center col text-center mx-auto ">
      <button class="btn nav-item col-md-2 fs-5 rounded mx-1" *ngFor="let button of buttons">
        <a class="nav-link text-reset" routerLink="{{button[1]}}">{{button[0]}}</a>
      </button>
  </ul>
</div>

<!-- TODO: fix smallscreen navbar toggle -->

<!-- for smallscreen: toggle collapse at 600px -->

<div class="navbar nav sticky-top small">

  <div data-bs-toggle="collapse"  data-bs-target="#collapse" class="btn toggle col-md-1 w-100 ">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#f8f9fa" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
  </div>

  <div class="collapse" id="collapse">
    <ul class="nav justify-content-center col text-center mx-auto ">
      
        <div class="smallBtn py-2 nav-item fs-5 w-100" *ngFor="let button of buttons">
          <a class="nav-link text-reset" routerLink="{{button[1]}}">{{button[0]}}</a>
        </div>
      
    </ul>
  </div>
</div>