.navbar {
    background-color: #273036;
}

.small {
    display: non;
}

@media (max-width: 854px) {
    .small {
        display: block;
    }
    .big {
        display: none;
    }
}

button {
    font-weight: 200;
    background-color: #273036;
    color: #f8f9fa;
}

button:hover {
    font-weight: 300;
    transition: font-weight, background-color, color .2s;
    background-color: #f8f9fa;
    color: #273036;
}
