<section class="gallery">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#273036" fill-opacity="1"
          d="M0,224L80,186.7C160,149,320,75,480,48C640,21,800,43,960,96C1120,149,1280,235,1360,277.3L1440,320L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
        </path>
      </svg>

    <div class="container text-center">
        <h1>Gallery</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eaque quasi quae veritatis neque repellat cumque excepturi placeat, ad possimus dolores. Incidunt asperiores, repellendus maiores ex adipisci nulla, laboriosam est sit eius distinctio dolor! 
        </p>

        <!-- pictures -->
    </div>
</section>