<div class="container">

    <h2>Vendégek</h2>
    <hr class="border border-2 opacity-50 border-success">

    <div class="row mb-3">
        <div class="col-md-2">
            <button (click)="add()" type="button" class=" btn btn-outline-primary" data-bs-toggle="modal"
                data-bs-target="#addModal">
                Hozzadas
            </button>
        </div>
        <div class="search col-md-6">
            <input [(ngModel)]="keyword" (change)="search(keyword)" class="form-control " type="search"
                placeholder="Search" aria-label="Search">
        </div>
    </div>

    <form-modal
    headerTitle="Uj vendeg hozzaadasa" 
    refId="addModal" 
    [formFields]="formFields"
    (primaryEvent)="formSubmit()"
    primaryBtn="Felvetel"
    secondaryBtn="Megsem"
    ></form-modal>


    <table class="table table-hover">
        <thead class="border-bottom border-primary">
            <th>#</th>
            <th>Név</th>
            <th>Születési idő</th>
            <th>E-mail cím</th>
            <th>Telefon</th>
            <th>Lakcím</th>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients | clientfilter: keyword">
                <td>{{ client.id }}</td>
                <td>{{ client.fullName }}</td>
                <td>{{ client.dob }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.fullAddress }}</td>
                <td>
                    <button type="button" (click)="edit(client)" class="btn btn-outline-warning" data-bs-toggle="modal"
                        data-bs-target="#editModal">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                </td>
                <td>
                    <button 
                    (click)="storeId(client.id)"
                    data-bs-toggle="modal" 
                    data-bs-target="#deleteModal" 
                    class="btn btn-outline-danger">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                    <confirmation-modal 
                    headerTitle="Biztos torlod?" 
                    refId="deleteModal" 
                    targetId="{{currentId}}"
                    modalBody="Id {{currentId}} vendeg torlesre fog kerulni." 
                    (primaryEvent)="delClient(currentId)"
                    primaryBtn="Torles"
                    secondaryBtn="Megsem"></confirmation-modal>
                </td>

            </tr>
        </tbody>
    </table>
</div>

<!-- TODO: editmodal, patch values, include hidden id field or store in currentId -->
<form-modal
headerTitle="Vendeg adatok modositasa" 
refId="editModal" 
[formFields]="formFields"
(primaryEvent)="formSubmit()"
primaryBtn="Adatok mentese"
secondaryBtn="Megsem"
></form-modal>