<form [formGroup]="clientForm" (submit)="addClient()">
    <div>
        <label for="name">Név</label>
        <input type="text" id="name" formControlName="fullName">
    </div>
    <div>
        <label for="city">dob</label>
        <input type="text" id="city" formControlName="dob">
    </div>
    <div>
        <label for="salary">mail</label>
        <input type="text" formControlName="email">
    </div>
    <div>
        <label for="salary">tel</label>
        <input type="text" formControlName="phone">
    </div>
    <div>
        <label for="salary">cim</label>
        <input type="text" formControlName="fullAddress">
    </div>
 
    <button type="submit">Mentés</button>
</form>

<div *ngIf="editPanel">
    <form [formGroup]="editForm" (submit)="updateClient()">
        <div>
            <label for="id">Id</label>
            <input type="text" id="id" formControlName="id">
        </div>
        <div>
            <label for="name">Név</label>
            <input type="text" id="name" formControlName="fullName">
        </div>
        <div>
            <label for="city">dob</label>
            <input type="text" id="city" formControlName="dob">
        </div>
        <div>
            <label for="salary">mail</label>
            <input type="text" formControlName="email">
        </div>
        <div>
            <label for="salary">tel</label>
            <input type="text" formControlName="phone">
        </div>
        <div>
            <label for="salary">cim</label>
            <input type="text" formControlName="fullAddress">
        </div>
     
        <button type="submit">Mentés</button>
    </form>
</div>

<table>
    <thead>
        <th>Id</th>
        <th>Név</th>
        <th>Település</th>
        <th>Fizetés</th>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients">
            <td>{{ client.id }}</td>
            <td>{{ client.fullName }}</td>
            <td>{{ client.dob }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.fullAddress }}</td>

            <td>
                <button (click)="delClient(client)">Törlés</button>
            </td>
            <td>
                <button (click)="showEdit(client)">Szerkesztés</button>
            </td>
        </tr>
    </tbody>
</table>