<div class="container my-4">
  <h1>Information</h1>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt expedita eos sunt nisi beatae vel asperiores
    quam fuga id, illum commodi harum repudiandae eligendi assumenda, minima debitis. Molestiae, accusamus.</p>

  <div class="list-group col-md-4">
    <a href="/info/faq" class="list-group-item list-group-item-action">FAQ</a>
    <a href="/info/pricing" class="list-group-item list-group-item-action">Price List</a>
    <a href="/info/docs" class="list-group-item list-group-item-action">Documents</a>
    <a href="/info/certs" class="list-group-item list-group-item-action">Certifications</a>

  </div>

  <router-outlet></router-outlet>

</div>