
<div class="container mt-4">
    <h1>Information</h1>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt expedita eos sunt nisi beatae vel asperiores quam fuga id, illum commodi harum repudiandae eligendi assumenda, minima debitis. Molestiae, accusamus.</p>

    <ul>
        <li>
            <a href="/info/faq">FAQ</a>
        </li>
        <li>
            <a href="/info/pricing">Price list</a>
        </li>
        <li>
            <a href="/info/docs">Documents</a>
        </li>
    </ul>

    <router-outlet></router-outlet>

</div>