<div class="navbar bg-dark">
  <ul class="nav justify-content-end col">
    <li class="nav-item bg-light m-1 rounded col-2 text-center">
      <a class="nav-link text-reset" href="/">Home</a>
    </li>


    <li class="nav-item bg-light m-1 rounded col-2 text-center">
      <a class="nav-link text-reset" href="/services">Services</a>
    </li>

    <li class="nav-item bg-light m-1 rounded col-2 text-center">
      <a class="nav-link text-reset" href="/booking">Booking</a>
    </li>

    <li class="nav-item bg-light m-1 rounded col-2 text-center">
      <a class="nav-link text-reset" href="/gallery">Gallery</a>
    </li>


  </ul>
</div>


  <router-outlet></router-outlet> 


<app-footer></app-footer>
