<div class="container big pt-3 ">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-5">
      <h1>Zöldpont <br> Masszázs Stúdió</h1>
      <p>Ahol a természet, ott a nyugalom.
      </p>

      <div class="col float-start text-reset text-uppercase">

        <a role="button" class="text-decoration-none m-1 btn btn-lg btn-outline-primary " routerLink="/booking">Foglalás
        </a>
        <a role="button" class="text-decoration-none m-1 btn btn-lg btn-outline-secondary"
          routerLink="/services">Kezelések
        </a>
      </div>

    </div>
    <div class="col-md-5">
      <img id="landing" src="{{path}}" alt="">
    </div>
  </div>
</div>

<div class="container small pt-3">
  <div class="col text-center justify-content-center">
    <div class="row-md-5 my-3">
      <h1>Zöldpont <br> Masszázs Stúdió</h1>
      <p class="fs-3">Ahol a természet, ott a nyugalom.
      </p>

      <div class="col">
        <img id="landingSm" src="{{path}}" alt="">
      </div>
    </div>

    <div class="row-md-5 col text-decoration-none text-uppercase">

      <a role="button" class=" m-1 btn btn-lg btn-outline-primary " routerLink="/booking">Foglalás
      </a>
      <a role="button" class=" m-1 btn btn-lg btn-outline-secondary"
        routerLink="/services">Kezelések
      </a>
    </div>
  </div>
</div>