.small {
    display: none;
}
.big {
    display: block;
}

@media (max-width: 854px) {
    .small {
        display: block;
    }
    .big {
        display: none;
    }
}

#landing {
    width: 30vw;
    height: 30vw;
}
#landingSm {
    width: 16rem;
    height: 16rem;
}

.page-header {
    font-size: 1.25rem;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 3.75rem;
}

a:hover {
    color: #fff
}