<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220"><path fill="#273036" fill-opacity="1" d="M0,160L60,165.3C120,171,240,181,360,154.7C480,128,600,64,720,64C840,64,960,128,1080,133.3C1200,139,1320,85,1380,58.7L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>

<div class="container col">

  <h1>Masszázsterápiák</h1>

  <div class="col my-5" id="service" *ngFor="let service of services">
    <div class="mb-3">
      <img class="massageimg" src="{{path}}" alt="">
    </div>

    <div>
      <h2>{{service.name}}</h2>
      <div>
        <h4>Leírás</h4>
        <p>{{service.description}}</p>

        <ul class="list-group">
          <li class="list-group-item" *ngFor="let step of services.process">{{step}}</li>
        </ul>
      </div>

      <div class="row my-3">
        <div class="col-md-4 my-2">
          <h4>Ajánlott:</h4>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let reason of service.dos">{{reason}}</li>
          </ul>
        </div>
        <div class="col-md-4 my-2">
          <h4>Nem ajánjuk:</h4>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let reason of service.donts">{{reason}}</li>
          </ul>
        </div>
      </div>

    </div>

    <div class=" justify-content-center text-center">
      <table class="col table table-hover">
        <thead>
          <tr class="">
            <th>Érintett testrészek</th>
            <th>Időtartam (perc)</th>
            <th>Ár (Ft)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let type of fetchedTypes">
            <td>{{type.name}}</td>
            <td>{{type.duration}}</td>
            <td>{{type.price}}</td>
            <td>
              <a href="/booking">
                <button class="btn btn-outline-success" (click)="onClick($event)">Foglalás</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>

</div>