<div class="container mt-4">
  <button class="btn btn-outline-primary">
    <a class="text-decoration-none" routerLink="/info">Back to info</a>
  </button>

  <div class="text-center">
    <h2>Price List</h2>

    <table class="col table table-hover">
      <thead>
        <tr>
          <th class="col-md-6">Service name</th>
          <th class="col-md-4">Cost (HUF)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td>Price</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>