<div class="container pt-3 " >
  <div class="row align-items-center justify-content-center">
    <div class="col-md-5">
      <h1>Zöldpont <br> Masszázs Stúdió</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo sit pariatur.
      </p>

      <div class="col">
        <button type="button" class="mx-1 col-md-5 btn-lg btn btn-outline-success">
          <a class="text-decoration-none text-reset" routerLink="/booking">BOOK NOW</a>
        </button>
        <button type="button" class="mx-1 col-md-5 btn-lg btn btn-outline-secondary">
          <a class="text-decoration-none text-reset" routerLink="/services">BROWSE</a>
        </button>
      </div>

    </div>
    <div class="col-md-5">
      <img id="landing" src="{{path}}" alt="">
    </div>
  </div>
</div>

<!-- TODO: implement responsive header -->

<!-- sm breakpoint 854 -->
<!-- 
<div class="container pt-3">
  <div class="col text-center justify-content-center">
    <div class="row-md-5 my-3">
      <h1>Zöldpont Masszázs Stúdió</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo sit pariatur.
      </p>

      <div class="col">
        <img id="landingSm" src="{{path}}" alt="">
      </div>
    </div>

    <div class="row-md-5 col" >
      <button type="button" class="mx-1 mb-2 w-100 btn-lg btn action">
        <a class="text-decoration-none text-reset" routerLink="/booking">BOOK NOW</a>
      </button>
      <button type="button" class="mx-1 w-100 btn-lg btn btn-outline-secondary">
        <a class="text-decoration-none text-reset" routerLink="#feature">MORE INFO</a>
      </button>
    </div>
  </div>
</div> -->