.small {
    display: none;
}
.big {
    display: block;
}

@media (max-width: 854px) {
    .small {
        display: block;
    }
    .big {
        display: none;
    }
}

#landing {
    width: 30vw;
    height: 30vw;
}
#landingSm {
    width: 16rem;
    height: 16rem;
}

.page-header {
    font-size: 1.25rem;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 3.75rem;
}

.action {
    color: #273036;
}

.action:hover {
    background-color: #2b9777;
    color: #fff;
    border-color: #2b9777;
}

.primary {
    border: solid 1px #2b9777;
    color: #2b9777;
}

.secondary {
    border: solid 1px #273036;
    color: #273036;
}

.primary:hover{
    background-color: #2b9777;
    color: #f8f9fa
}

.secondary:hover{
    background-color: #273036;
    color: #f8f9fa;
}