a {
    color: #2b9777;
    border-color: #2b9777;
}

a:hover {
    background-color: #2b9777;
    color: white;
    border-color: #2b9777;
}

.accordion-body {
    background-color: rgba(#2b9777, .4);
}

.collapsed {
    border: none
}