<div class="container mt-4">
    <button class="btn btn-outline-primary">
        <a class="text-decoration-none" routerLink="/info">Back to info</a>
    </button>

    <div class="text-center">
        <h2>FAQ</h2>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, obcaecati?</p>    
    </div>

    <div class="faqs" *ngFor="let faq of faqs">
        <div class="topic my-2 p-2 bg-dark text-light">
            <h4>{{faq.q}}?</h4>
            <p>{{faq.a}}!</p>
        </div>
    </div>


</div>