.gradient {
    background: #fff;
}

.page-header {
    font-size: 1.25rem;
}

#landing {
    width: 400px;
    height: 400px;
}

.rowpix {
    width: 100px;
    height: 100px;
}

.featurepix {
    width: 200px;
    height: 200px;
}

.icons {
    background-color: #273036;
}