
input.ng-invalid:focus  {
    border-left: 5px solid red;
    border-bottom: 1px solid red;
}

.form-control {
    box-shadow: none;
}

input.ng-valid, .form-check-input:not {
    border: 45px solid green
}

.apt, #submitBtn, .submitBtn {
    color: #2b9777;
    background-color: transparent;
    border: solid 1px #2b9777;
}

.btn-secondary {
    border: solid 1px #273036;
    color:#273036;
    background-color: transparent;
}
.btn-secondary:hover{
    background-color: #273036;
    color: #f8f9fa;
}


.apt:hover, #submitBtn:hover, .submitBtn:hover, .divider, .active {
    background-color: #2b9777;
    color: white;
}

.aptBtn {
    width: 50%;
    display: inline-block;
}


.focus {
    background-color: #2b9777;
    background-color: rgba($color: #2b9777, $alpha: 0.3);
    border-radius: 10px;
}

a:hover {
    color: white;
}