<section class="info">

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 180">
    <path fill="#273036" fill-opacity="1"
      d="M0,32L60,32C120,32,240,32,360,48C480,64,600,96,720,112C840,128,960,128,1080,122.7C1200,117,1320,107,1380,101.3L1440,96L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
    </path>
  </svg>
  <div class="container text-center col-md-6 justify-content-center">

    <h1>Időpontfoglalás</h1>
    <h3>Tudnivalók</h3>
    <p>Vendéget kizárólag előre egyeztetett időpontban áll módomban fogadni.<br>
      A bejelentkezés megkezdése előtt kérlek figyelmesen olvasd el az alábbi tájékoztatókat. A foglalás
      véglegesítésének feltétele ezek elfogadása.
    </p>

    <p class="p-3 focus col-md-4 ">
      <a href="/info/docs#terms" class="text-reset text-decoration-none" target="_blank">Általános Szerződési
        Feltételek</a> <br>
      <a href="/info/docs#privacy" class="text-reset text-decoration-none" target="_blank">Adatkezelési Tájékoztató</a>
    </p>
    <p>
      Időpontfoglalásodat és annak jóváhagyását követően e-mailben visszaigazolás érkezik. Ebben minden fontos,
      a kezelés megkezdéséhez szükséges információt megtalálsz majd. <strong>Emiatt kérlek, hogy figyelmesen, a helyes
        e-mail
        címed add meg!</strong>
    </p>
  </div>

</section>

<div class="container">
  <section class="form p-4 rounded">

    <div class="col">

      <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">

        <div class="row">
          <hr class="border border-2 opacity-50 border-success">

          <div class="col-md-3  my-3">
            <h5>Szolgáltatások</h5>
            <div class="">
              <select id="chooseService" class="form-select" formControlName="serviceId">
                <option selected id="selected" value="Choose..">Valasszon..</option>
                <option *ngFor="let service of services" value="{{service.id}}">{{service.name}}</option>
              </select>
            </div>
          </div>

          <div class="col-md-5 my-3">
            <h5>Típusok</h5>
            <div class="">
              <select id="chooseType" class="form-select" (change)="typePicked($event)" formControlName="typeId">
                <option selected id="selected" value="Choose..">Valasszon..</option>
                <option *ngFor="let type of types" value="{{type.id}}">{{type.name}}</option>
              </select>
            </div>
          </div>

          <div class="col-md-2 my-3  col">
            <h5>Időtartam</h5>
            <input type="text" readonly disabled class=" form-control" value="{{pickedType.duration}}">
          </div>

          <div class="col-md-2 my-3 col">
            <h5>Ár (Ft)</h5>
            <input type="text" readonly disabled class=" form-control" value="{{pickedType.price}}">
          </div>

        </div>

        <hr class="border border-2 opacity-50 border-success">

        <h5>Időpont kiválasztása</h5>

        <p>Alább láthatod a foglalható időpontokat a választott szolgáltatásra.
          Kattintással választhatod ki a neked megfelelőt.</p>

        <div class="row focus p-1" id="aptSelector">
          <!-- date -->
          <div class="col-md-2">
            <p>Datumok</p>
            <ul class="list-group">
              <button data-bs-toggle="button" autocomplete="off" class="date btn btn-lg list-group-item my-1"
             id="{{date}}" (click)="datePicked($event)" *ngFor="let date of distinctDates">{{date}}</button>
            </ul>
          </div>

          <!-- apt -->
          <div class="col-md-6" role="group">
            <p>Idopontok</p>
            <p id="no_apts">{{noApts}}</p>
            <div class="timeButtons" hidden>
              <button (click)="timePicked($event)" formControlName="aptId" id="{{one.id}}" value="{{one.id}}"
                *ngFor="let one of times" class="apt btn m-2" data-bs-toggle="button" autocomplete="off"
                [ngClass]="{'closed disabled' : !one.isOpen}">{{one.start}} - {{one.end}}
              </button>
            </div>
            <br>
          </div>

          <!-- TODO: summary card, with weekday -->
          <div class="col-md-4" id="summary">
            <h6>A valasztott idopont</h6>
            <p></p>
          </div>
        </div>

        <hr class="border border-2 opacity-50 border-success">

        <h5>Személyes adatok megadása</h5>

        <div class="row">
          <div class=" col-md-6 mb-2">
            <input id="fullName" type="text" placeholder="Full name" formControlName="fullName" class="form-control">
          </div>
          <div class="col-md-6 mb-2">
            <input id="dob" type="text" placeholder="Date of birth (yyyy-mm-dd)" formControlName="dob"
              class="form-control">
          </div>
        </div>

        <div class="row">
          <div class=" col-md-6 mb-2">
            <input id="email" type="text" placeholder="E-mail address" formControlName="email" class="form-control">
          </div>
          <div class="col-md-6 mb-2">
            <input id="phone" type="text" placeholder="Phone number" formControlName="phone" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 mb-2">
            <input id="zipcode" type="text" placeholder="Zipcode" formControlName="zipCode" class="form-control">
          </div>

          <div class="col-md-4 mb-2">
            <input id="city" type="text" placeholder="City" formControlName="city" class="form-control">
          </div>

          <div class="col-md-6 mb-2">
            <input id="address" type="text" placeholder="Address" formControlName="address" class="form-control">
          </div>
        </div>

        <hr class="border border-2 opacity-50 border-success">

        <div class="form-check form-switch">
          <input type="checkbox" class=" form-check-input form-control" id="accept" formControlName="accept">
          <label for="accept">I accept the <a href="/info/docs#terms" target="_blank" class="text-reset">Terms and
              Conditions</a> & <a href="/info/docs#privacy" target="_blank" class="text-reset">Privacy
              Policy</a>.</label>
        </div>

        <!-- TODO: pop up modal for feedback -->

        <div class="row my-4">
          <button class="btn" type="submit" id="submitBtn" data-bs-toggle="modal" data-bs-target="#confirmModal">
            Időpont lefoglalása
          </button>
        </div>

        <!-- booking.service_id.name
        booking.type_id.name
        booking.type_id.duration
        booking.client (all)
        booking.appointment_id.date
        booking.appointment_id.start -->

        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{modalHeader}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <!-- <div class="modal-body">
                <h2>Details</h2>
                <ul class="list-group">
                  <li>{{booking.service.name}}</li>
                  <li>{{booking.type.name}}, {{booking.type.duration}} perc, {{booking.type.price}}</li>
                </ul>
              </div> -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary">OK</button>

              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </section>
</div>