<section class="info">

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#273036" fill-opacity="1"
      d="M0,224L80,186.7C160,149,320,75,480,48C640,21,800,43,960,96C1120,149,1280,235,1360,277.3L1440,320L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
    </path>
  </svg>
  <div class="container text-center">

    <h1>Appointment setup</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus esse provident iste sint quibusdam natus
      tempora nulla voluptatum atque repellat ullam omnis consequatur ab, sunt hic assumenda eos quasi nesciunt!
      Recusandae quam ducimus repellendus ut quos quia natus dignissimos error, asperiores, quaerat quas sapiente?
    </p>
    <p>
      Architecto corrupti harum ad illo veritatis est, sed aperiam, deleniti omnis id, provident labore inventore amet
      cumque corporis quis incidunt et? Tempore officia voluptatibus reiciendis ratione dolore cupiditate in pariatur
      iure? In sit, veritatis neque cum ab placeat accusantium aut, excepturi obcaecati libero cumque atque esse magnam
      quod assumenda doloribus laudantium sapiente doloremque molestiae corporis vero.
    </p>
  </div>

</section>

<div class="container">
  <section class="form bg-dark p-4 rounded">

    <div class="col">

      <div class="row">

        <div class="col-md-6">
          <select class="form-select">
            <option selected id="selected" value="Choose..">Valasszon..</option>

            <optgroup *ngFor="let name of serviceNames" label="{{name}}">
              <option></option>
            </optgroup>



          </select>
        </div>

        <div class="col-md-4">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
        </div>

      </div>

      <!-- id="personal" -->

      <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">

        <div class="row my-2">
          <div class=" col-md-6">
            <input id="fullName" type="text" placeholder="Teljes név" formControlName="fullName" class="form-control">
          </div>
          <div class="col-md-6">
            <input id="dob" type="text" placeholder="DOB" formControlName="dob" class="form-control">
          </div>
        </div>

        <div class="row my-2">
          <div class=" col-md-6">
            <input id="email" type="text" placeholder="E-mail address" formControlName="email" class="form-control">
          </div>
          <div class="col-md-6">
            <input id="phone" type="text" placeholder="Phone number" formControlName="phone" class="form-control">
          </div>
        </div>

        <div class="row my-2">
          <div class="col-md-2">
            <input id="zipcode" type="number" placeholder="Zipcode/postal code" formControlName="zipCode"
              class="form-control">
          </div>

          <div class="col-md-4">
            <input id="city" type="text" placeholder="City" formControlName="city" class="form-control">
          </div>

          <div class="col-md-6">
            <input id="address" type="text" placeholder="Address" formControlName="address" class="form-control">
          </div>
        </div>


        <div class="row mt-4">
          <button class="btn btn-primary col-md-6" type="submit">
            Idopont lefoglalasa
          </button>
        </div>
      </form>
    </div>

  </section>
</div>