<div class="container text-light text-center justify-content-center">
  <h1 class="h1-responsive font-weight-bold mb-5">Kapcsolatfelvétel</h1>
  <p class=" w-responsive mx-auto">Do you have any questions? Please do not hesitate to contact us
    directly. Our team will come back to you within
    a matter of hours to help you.</p>
  <div class="row m-5 ">

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

      <div class=" mb-4 form-floating ">
        <input formControlName="name" type="text" id="name" class="form-control" placeholder="Your name">
        <label for="name">Name</label>
      </div>

      <div class="  mb-4 form-floating">
        <input formControlName="email" type="text" id="email" class="form-control" placeholder="Your email">
        <label for="email" class="">Email</label>
      </div>

      <div class=" mb-4 form-floating">
        <input formControlName="subject" type="text" id="subject" class="form-control" placeholder="Subject">
        <label for="subject" class="">Subject</label>
      </div>

      <div class="row mb-2">
        <div class="mb-4">
          <div class="md-form w-5">
            <h4>Your message</h4>
            <textarea formControlName="message" id="message" class="form-control" cols="20" rows="10"></textarea>
          </div>
        </div>
      </div>

      <div class="text-center text-md-left">
        <button id="msg" type="submit" data-bs-toggle="modal" data-bs-target="#messageSent" class="btn btn-primary w-100 btn-lg ">Send message</button>
      </div>
    </form>

  </div>
</div>


<!-- Modal id="messageSent" if data success, reset also-->
<div class="modal fade" id="messageSent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Message sent successfully!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="body">
        ...
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>